<!doctype html>
<html lang="en">
  <head>
    {%- block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Soundcraft UI16 | {% block subtitle %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    {%- endblock %}
  </head>
  <body>
    <div id="navbar">
    </div>
    {%- block content %}{% endblock %}
    <div id="scripts">
      {%- block scripts %}
      <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/socket.io.js') }}"></script>
      <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
      <script src="{{ url_for('static', filename='js/midi2soundcraft.js') }}"></script>
      {%- endblock %}
    </div>
  </body>
</html>
