{%- extends 'base.html' %}
{%- block subtitle %}Index{% endblock %}
{%- block head %}
{{ super() }}
{%- endblock %}
{%- block scripts %}
{{ super() }}
      <script src="{{ url_for('static', filename='js/index.js') }}"></script>
{%- endblock %}
{%- block content %}
    <div class="container-fluid text-center">
      <div class="row">
        <div class="col-6">
          <!-- APC -->
          <div class="row mb-3 gx-2" id="mixer">
            <!-- Mixer Channels -->
            {%- for channel_id in range(8) %}
            <div class="col" id="channel{{ channel_id }}">
              <div class="mix-box" id="channel{{ channel_id }}mix">
              </div>
            </div>
            {%- endfor %}
            <div class="col" id="viewselect">
              <!-- view select buttons -->
              <div class="row g-3">
                {%- for view in range(8) %}
                <div class="col-12">
                  <button id="view{{ view }}" type="button" class="btn btn-outline-secondary btn-views">
                    {%- if view == 0 %}
                    Mix
                    {%- elif view == 7 %}
                    Master
                    {%- else %}
                    {{ view + 1}}
                    {%- endif %}
                  </button>
                </div>
                {%- endfor %}
              </div>
            </div>
          </div>
          <div class="row mb-3 gx-2">
            <!-- Mixer Channel info -->
            {%- for channel_id in range(8) %}
            <div class="col channel-text" id="channel{{ channel_id }}-text">
              Channel <span id="channel{{ channel_id }}name">{{ channel_id + 1}}</span>
              <br/>
              <span id="channel{{channel_id }}value">-90db</span>
            </div>
            {%- endfor %}
            <div class="col">
            </div>
          </div>
          <div class="row mb-3 gx-2">
            <!-- lower buttons -->
            {%- for channel_id in range(8) %}
            <div class="col">
              <button id="lowerbtn{{ channel_id }}" type="button" class="btn btn-outline-secondary btn-lower">
                <span id="lowerbtn{{ channel_id }}text">Mute</span>
              </button>
            </div>
            {%- endfor %}
            <div class="col">
              <button id="shift" type="button" class="btn btn-outline-secondary btn-lower">
                Shift
              </button>
            </div>
          </div>
          <div class="row mb-3 gx-2 effect-fader" style="margin-top: 40px">
            <!-- effect slider -->
            <div class="col">
              <div class="mix-box" id="fx0par1">
              </div>
            </div>
            <div class="col">
              <div class="mix-box" id="fx0par2">
              </div>
            </div>
            <div class="col">
              <div class="mix-box" id="fx0par3">
              </div>
            </div>
            <div class="col">
              <div class="mix-box" id="fx0par4">
              </div>
            </div>
            <div class="col">
              <div class="mix-box" id="fx0par5">
              </div>
            </div>
            <div class="col">
              <div class="mix-box" id="fx1par1">
              </div>
            </div>
            <div class="col">
              <div class="mix-box" id="fx1par2">
              </div>
            </div>
            <div class="col">
              <div class="mix-box" id="fx1par3">
              </div>
            </div>
            <div class="col">
              <div class="mix-box" id="fx1par4">
              </div>
            </div>
          </div>
          <div class="row mb-3 gx-2 channel-text">
            <!-- effect slider info-->
            <div class="col">
              <span id="fx0par1value">0</span><br />
              Reverb <br />Time
            </div>
            <div class="col">
              <span id="fx0par2value">0</span><br />
              Reverb <br />HF Damping
            </div>
            <div class="col">
              <span id="fx0par3value">0</span><br />
              Reverb <br />Bass Gain
            </div>
            <div class="col">
              <span id="fx0par4value">0</span><br />
              Reverb <br />LPF
            </div>
            <div class="col">
              <span id="fx0par5value">0</span><br />
              Reverb <br />HPF
            </div>
            <div class="col">
              <span id="fx1par1value">0</span><br />
              Delay <br />Time
            </div>
            <div class="col">
              <span id="fx1par2value">0</span><br />
              Delay <br />Divison
            </div>
            <div class="col">
              <span id="fx1par3value">0</span><br />
              Delay <br />Feedback
            </div>
            <div class="col">
              <span id="fx1par4value">0</span><br />
              Delay <br />LPF
            </div>
          </div>
        </div>
        <div class="col-6">
          <!-- MidiMix -->
          {%- set channel = namespace(counter=0) %}
          {%- for x in range(6) %}
          <div class="row mb-3 gx-2">
          {%- if x % 2 == 0 %}
          {%- for y in range(2) %}
            <div class="col d-flex flex-column justify-content-center align-items-center">
              <div class="midi-dial reverb-dial" id="fx0channel{{ channel.counter + y }}">
              </div>
            </div>
            <div class="col d-flex flex-column justify-content-center align-items-center">
              <div class="midi-dial delay-dial" id="fx1channel{{ channel.counter + y }}">
              </div>
            </div>
            <div class="col d-flex flex-column justify-content-center align-items-center">
              <div class="midi-dial chorus-dial" id="fx2channel{{ channel.counter + y }}">
              </div>
            </div>
            <div class="col d-flex flex-column justify-content-center align-items-center">
              <div class="midi-dial room-dial" id="fx3channel{{ channel.counter + y }}">
              </div>
            </div>
          {%- if y == 0 %}
            <div class="col-1 d-flex flex-column justify-content-center align-items-center">
              <label class="channel-text" id="channel-names">
                Channels<br/>
                {{ channel.counter + 1}} | {{ channel.counter + 2 }}
              </label>
            </div>
          {%- else %}
            <div class="col-1 d-flex flex-column justify-content-center align-items-center">
          {%- if x == 0 %}
              <button type="button" class="btn btn-danger btn-midimix">
                ALL
              </button>
          {%- elif x == 2 %}
              <button id="ch-" type="button" class="btn btn-outline-danger btn-midimix">
                CH -
              </button>
          {%- else %}
              <button id="ch+" type="button" class="btn btn-outline-success btn-midimix">
                CH +
              </button>
          {%- endif %}
            </div>
          {%- endif %}
          {%- endfor %}
          {%- else %}
          {%- for y in range(2) %}
            <div class="col">
              <span class="channel-text" id="fx0channel{{ channel.counter + y }}text">
                0 %
              </span>
            </div>
            <div class="col">
              <span class="channel-text" id="fx1channel{{ channel.counter + y }}text">
                0 %
              </span>
            </div>
            <div class="col">
              <span class="channel-text" id="fx2channel{{ channel.counter + y }}text">
                0 %
              </span>
            </div>
            <div class="col">
              <span class="channel-text" id="fx3channel{{ channel.counter + y }}text">
                0 %
              </span>
            </div>
            <div class="col-1">
            </div>
          {%- endfor %}
          {%- endif %}
          </div>
          {%- set channel.counter = channel.counter + 1 %}
          {%- endfor %}
          <div class="row mb-3 gx-2" style="margin-top: 35px">
            <!-- Mute Btns-->
            {%- for channel_id in range(8) %}
            <div class="col">
              <button type="button" class="btn btn-outline-secondary" id="midimix-mute{{ channel_id }}">
                Preset
              </button>
            </div>
            {%- endfor %}
            <div class="col">
              <button id="midimix-shift" type="button" class="btn btn-outline-secondary">
                Shift
              </button>
            </div>
          </div>
          <div class="row mb-3 gx-2" style="margin-top: 35px">
            <!-- RecArm Btns -->
            {%- for channel_id in range(8) %}
            <div class="col">
              <button type="button" class="btn btn-outline-secondary" id="midimix-recarm{{ channel_id }}">
                Preset
              </button>
            </div>
            {%- endfor %}
            <div class="col">
            </div>
          </div>
          <div class="row mb-3 gx-2 effect-fader" style="margin-top: 29px">
            <!-- Fader -->
            <div class="col">
              <div class="mix-box" id="fx2par1">
              </div>
            </div>
            <div class="col">
              <div class="mix-box" id="fx2par2">
              </div>
            </div>
            <div class="col">
              <div class="mix-box" id="fx2par3">
              </div>
            </div>
            <div class="col">
              <div class="mix-box" id="fx3par1">
              </div>
            </div>
            <div class="col">
              <div class="mix-box" id="fx3par2">
              </div>
            </div>
            <div class="col">
              <div class="mix-box" id="fx3par3">
              </div>
            </div>
            <div class="col">
              <div class="mix-box" id="fx3par4">
              </div>
            </div>
            <div class="col">
              <div class="mix-box" id="fx3par5">
              </div>
            </div>
            <div class="col">
              <div class="mix-box" id="delay-bpm">
              </div>
            </div>
          </div>
          <div class="row mb-3 gx-2 channel-text">
            <!-- Fader Text -->
            <div class="col">
              <span id="fx2par1value">0</span><br />
              Chorus<br />
              Detune
            </div>
            <div class="col">
              <span id="fx2par2value">0</span><br />
              Chorus<br />
              Density
            </div>
            <div class="col">
              <span id="fx2par3value">0</span><br />
              Chorus<br />
              LPF
            </div>
            <div class="col">
              <span id="fx3par1value">0</span><br />
              Room<br />
              Time
            </div>
            <div class="col">
              <span id="fx3par2value">0</span><br />
              Room<br />
              HF
            </div>
            <div class="col">
              <span id="fx3par3value">0</span><br />
              Room<br />
              Bass Gain
            </div>
            <div class="col">
              <span id="fx3par4value">0</span><br />
              Room<br />
              LPF
            </div>
            <div class="col">
              <span id="fx3par5value">0</span><br />
              Room<br />
              HPF
            </div>
            <div class="col">
              <span id="bpm-value">0</span><br />
              BPM
            </div>
          </div>
        </div>
      </div>
    </div>
{%- endblock %}
