{%- extends 'base.html' %}
{%- block subtitle %}Status{% endblock %}
{%- block head %}
{{ super() }}
{%- endblock %}
{%- block scripts %}
{{ super() }}
    <script src="{{ url_for('static', filename='js/status.js') }}"></script>
{%- endblock %}
{%- block content %}
<div id="mqtt_data" host="{{ data['mqtt_host'] }}" port="{{ data['mqtt_port'] }}"></div>
<div class="container-fluid text-center">
  <div class="row">
    <div class="col">
      <h1>Status</h1>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <button type="button" class="btn btn-danger" id="btn-mqtt">MQTT</button>
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
    <div class="col">
    </div>
  </div>
</div>
{%- endblock -%}
